* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
	background: linear-gradient(to left, #30E8BF , #FF8235);
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.numbers {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	flex: 0 1 auto;
	margin: 50px 0px;
}

.balls {
	font-size: 3em;
	color: #fff;
	margin: 0.25em;
	padding: 25px;
	border: 3px solid #eee;
	border-radius: 50%;
}

.buttons {
	display: flex;
	flex-direction: column;
}

.generateBtn, .sortBtn {
	background-color: transparent;
	padding: 10px 25px;
	color: #fff;
	border: 2px solid #fff;
	text-transform: uppercase;
	margin: 20px 0px;
}